/* ===== Corbeille popup ===== */
.dossier-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.dossier {
    display: block;
    max-width: 130%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.5);
}

/* Zones de clic invisibles pour fermer */
.close-zone,
.close-zone2 {
    position: absolute;
    top: 0;
    z-index: 101;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
}

.close-zone {
    right: -11.6vw;
}

.close-zone2 {
    right: -14.3vw;
}

