/* ===== Base ===== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: clamp(12px, 2vw, 15px);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(45, 45, 45);
    background-color: rgb(242, 235, 225);
}

/* ===== header ===== */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

h1 {
    margin-bottom: 2vh;

}

/* ===== main.home-grid ===== */
.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px;
}

/* ===== a.folder-item ===== */
.folder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: rgb(45, 45, 45);
    text-decoration: none;
}

.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 0.5rem;
}

/* Contenu interne du dossier */
.folder-info {
    font-weight: 200;
    color: rgb(89, 88, 88);
     margin-bottom: 0.2rem;
}

.folder-name {
    font-weight: 600;
    font-size: clamp(14px, 2vw, 18px);
}

/* ===== responsive ===== */
@media (max-width: 600px) {
    .home-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
